.App {

  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

.ant-menu,
.ant-layout,
.ant-dropdown-menu {
  font-family: "Poppins", sans-serif;
}
